body {
  background: rgb(106, 159, 195);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 0 auto;
}

ol {
  list-style-type: none;
}

.board {
  display: flex;  
  width: 100%;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: baseline;
  width: 272px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  padding: 8px;  
  border-radius: 3px;
}

.list-header {
  display: block;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #eff9ff81;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 3px;
}

.list-header:focus {
  outline: 1px solid rgba(168, 168, 168, 0.45);
}

.list-cards {
  display: flex;
  flex-direction: column;
  min-height: 40px;
  padding: 0;
  color: #38404b;
}

.list-card {
  background-color: rgba(233, 232, 232, 0.45);
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.list-card.dragged {
  border-radius: 10px;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  background: #fff;
}

.form {
  border-radius: 3px;
  margin-top: auto;
  display: none;
}

.textarea {
  display: block;
  resize: none;
  height: 60px;
  border-radius: 3px;
  border: none;
  background: rgba(233, 232, 232, 0.45);
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  color: #38404b;
}

.textarea:focus {
  outline: none;
}

.new-card-buttons {
  display: flex;
}

.add-card-btn {
  background: rgb(13, 136, 218);
  border: none;
  height: 35px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 100%;
}

.cancel-card-btn {
  padding: 0 10px;
  background: rgb(160, 17, 12);
  border: none;
  height: 35px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  margin-left: auto;
}

.list-footer {
  cursor: pointer;
  color: #617387;
  border-radius: 5px;
}

.active {
  background-color: #b0d4d4;
}

.add-btn {
  cursor: pointer;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: rgba(0, 0, 0, -0.5);
  color: #84878b;
  text-align: left;
  padding: 8px;
}